.OrderList {
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 2vmin;
    padding: 3vmin;
    overflow-y: scroll;
    list-style: none;
  }
  .OrderList li{
    margin-top: 3vmin;
  }

  .OrderList li:hover:not(.active) {
    cursor: pointer;
    border: .3vmin solid var(--orange);
    border-radius: 1vmin;
    color: var(--white);

  }
  
  .OrderList li.active {
    color: var(--text-dark);
    border: .3vmin solid var(--orange);
    border-radius: 1vmin;
    margin-bottom: 0;
  }
